*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:(255,255,255,0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
    height: 52px;
    width: 100%;
    box-shadow: 0 8px 20px rgb(0, 0, 0, 0.30);

}
#logo{
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: 800px;
    background-size: cover;
    margin-left: 18px;
}
a{
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    text-decoration: none;
    margin-right: 30px;

}
.hero-section{
    height: 700px;
    width: 100%; 
    
}

.box1{
    border: 1px solid rgb(0, 0, 0);
    height: 400px;
    width: 600px;
    
}
.title{
    height:200px;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}
.info{
    height:100px;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}
.buttons{
    height:100px;
    width: 100%;
    
}